/*
  Student: Maxime DROUIN
  Student number : 3008951
 */

#login_form {
  position: absolute;
  margin: 70px 0;
  left: 50%;
  max-width: 300px;
  width: 90%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

ion-button {
  height: 50px;
}

h1 {
  text-align: center;
}

