/*
  Student: Maxime DROUIN
  Student number : 3008951
 */

#table-container {
  overflow-x: auto;
  clear: both;
}

#add_task {
  float: right;
}

#table_title_container {
  margin: auto;
  max-width: 1300px;
  width: 90%;
}
