/*
  Student: Maxime DROUIN
  Student number : 3008951
 */

.error-message {
  font-size: smaller;
  padding-left: 15px;
  margin-bottom: 15px;
  color: var(--ion-color-danger);
}

.validation-errors {
  margin-bottom: 20px;
}

ion-item {
  --border-color: var(--ion-color-secondary);
}

ion-button {
  height: 50px;
}
