/*
  Student: Maxime DROUIN
  Student number : 3008951
 */

ion-checkbox {
  --border-radius: 10px;
  --checkmark-color	: var(--ion-color-light);
}

ion-chip {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-light);
}

ion-col {
  padding-top: 10px;
  padding-bottom: 10px;
}
